<app-header></app-header>
<div class="body">
    <section class="mainBox">
        <h2>Bachelor of Commerce</h2>
        <p>B.Com full form is Bachelor of Commerce, is one of the most sought after undergraduate course opted by the students of commerce stream after qualifying their 10+2. BCom is available primarily in all colleges and educational institutions and candidates who wish to become bankers, accountants, financial advisors, economists, statisticians, book keepers can opt for BCom degree programme.</p>
        <table>
            <tr>
                <td>Degree Name</td>
                <td>B.Com (Bachelor of Commerce)</td>
            </tr>
            <tr>
                <td>Degree Type</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Degree Duration</td>
                <td>Three years</td>
            </tr>
            <tr>
                <td>Entrance Exams</td>
                <td>BHU UET, CUET, DUET</td>
            </tr>
            <tr>
                <td>Eligibility Criteria</td>
                <td>10+2 in any stream</td>
            </tr>
            <tr>
                <td>Admission process</td>
                <td>Direct admission or based on the entrance examination</td>
            </tr>
            <tr>
                <td>Job profiles</td>
                <td>Accountant, Banking, Taxation, Business, Management, Chartered Accountant, Company Secretary</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>B.Com Eligibility Criteria</h2>
        <p>Candidates seeking admission into BCom must go through the eligibility criteria to ensure that they are eligible for the admissions. Mentioned below is the eligibility criteria candidates can go through. Check the B.Com eligibility mentioned below:</p>
        <ul>
            <li>No age limit has been prescribed for the admission. Candidates of all age groups, gender, community can apply, generally.</li>
            <li>Candidates must have completed 10+2 with the minimum marks of their stream required for admission as prescribed by the respective university or institute.</li>
            <li>It is also mandatory for the students to have studied Mathematics and English</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>BCom Application Process</h2>
        <ul>
            <li>Generally, there is no entrance testfor admission to BCom, the admission is usually done based on the merit system.</li>
            <li>Though few colleges conduct their own entrance examination for admission to the BCom degree programme.</li>
            <li>B.Com degree is offered in full time mode across the country, although some colleges also offer BCom degree in the distance mode.</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>B.Com Specialisations</h2>
        <p>seeking to build their careers in Commerce streams can opt various specialisations offered for B Com. The specialisations range from accountancy, taxation, management. These specialisations vary from one institute to another. Bachelor of Commerce specialisation will decide the direction of the career path. It is on the students whether they want to pursue the career in accountancy or taxation or banking. They have to choose their specialisation according to their interest in the respective field. The popular B Com specialisations include:</p>
        <p>
            <span style="font-weight: bold;">Accounting and Finance: </span>Financial accounting is a particular type of accounting that includes a method of documenting, summarising and reporting for a period of time the multitude of transactions arising from business operations. Such transactions are outlined in the preparation of financial statements which document the operating results of the company over a specified period, including the balance sheet , income statement, and cash flow statement.
        </p>
        <p>
            <span style="font-weight: bold;">Taxation: </span>course includes the study of accounting, financial planning and economic theory concepts as well as a detailed emphasis on taxation, which is called a method of taxing people who earn 'taxable' money. To put it another way, B Com (Taxation) is a degree program in which, aside from a general course study in Commerce, the main emphasis is on the systematic study of principles in the fields of taxation and specific subjects.
        </p>
        <p>
            <span style="font-weight: bold;">Auditing: </span>Financial auditing is the process of examining the financial records of an organisation (or individual) to determine whether they are accurate and in line with any applicable rules, regulations, and laws. External auditors come to examine accounting and financial records from outside the organisation and provide an independent opinion on those records. Law requires all public companies to have external audits of their financial statements. Internal auditors work as internal employees for the organisation to examine records and help improve internal processes such as operations, internal controls , risk management and governance.
        </p>
        <p>
            <span style="font-weight: bold;">Banking and Insurance: </span>The course was designed to bring together trained professionals who can handle various banking and insurance related financial activities, effectively operate in the banking and insurance environment within the financial services sector and manage the various banking and insurance technologies used.
        </p>
    </section>
    <section class="mainBox">
        <h2>Career Opportunities after BCom</h2>
        <p>A career in commerce offers immense growth to the aspirants as demand for professionals is always on a high. What matters at the end of the day is whether one has an inclination for it. One should have the discipline, commitment and focus to carve a niche in this ever-growing domain. Career opportunities after Bachelor of Commerce include jobs in the following professions:</p>
        <p>
            <span style="font-weight: bold;">Chartered Accountant (CA): </span> Chartered Accountant as a professional holds the responsibility of accounting, auditing, taxation, financial and management areas of an individual or organisation. It is one of the most sought, reputed and challenging work fields.
        </p>
        <p>
            <span style="font-weight: bold;">Company Secretary (CS): </span>A company secretary is a senior position in a private sector company or public sector organisation. CS of various experience levels are available and companies look to recruit individuals with skills and experience commensurate with the size and complexities of their business
        </p>
        <p>
            <span style="font-weight: bold;">Cost and Work Accountant (CWA): </span>The cost and work accountant is a professional who collects, evaluates and analyses all the financial information considering all the angles and then interpreting those numbers for the management. The CWA is considered an important part of the corporate strategies and planning, these days.
        </p>
    </section>
  
</div>