<app-header></app-header>
<div class="body">
    <section class="mainBox">
        <h2>B.Sc Courses</h2>
        <ul>
            <li>B.Sc Information Technology (IT)</li>
            <li>B.Sc Chemistry</li>
            <li>B.Sc Statistics</li>
            <li>B.Sc in Data Science</li>
            <li>B.Sc Physics</li>
            <li>B.Sc Computer Science</li>
            <li>B.Sc Electronics</li>
            <li>BSc Mathematics</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>B.Sc Information Technology</h2>
        <p>
            B.Sc. IT (Information Technology) is a three-year-long undergraduate degree in information technology. Information technology is concerned with the storage, processing, and management of an organization's data. The Bachelor of Science in Information Technology programme is to prepare students how to manage large amounts of information of a company, evaluate the operation of computer systems and network servers, and prevent unnecessary difficulties in data transmission. After completing a programme of study in software development, software design, software engineering, website development, databases, programming, computer networking, and computer systems, a B.Sc. degree in IT is offered.
        </p>
        <table>
            <tr>
                <td>Degree Name</td>
                <td>B.Sc in Information Technology</td>
            </tr>
            <tr>
                <td>Degree Type</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Degree Duration</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Admission process</td>
                <td>Entrance/Merit</td>
            </tr>
            <tr>
                <td>Job profiles</td>
                <td>Graphic Designer, Software Developer, Computer Hardware Engineer, Network Technician</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>B.Sc Chemistry</h2>
        <p>B.Sc. Chemistry is a three years long undergraduate course in the Science stream. The course teaches students about various aspects of chemistry including chemical reactions and compositions of substances, their properties and structure. It consists of subjects like Atomic Structure, Stereochemistry, Bioinorganic Chemistry and others. In order to get admission to a B.Sc. degree course, a student must have a 10+2 with chemistry as one of the subjects from a recognised board. The admission to the UG degree programme is done on both merit and entrance basis.</p>
        <table>
            <tr>
                <td>Degree Name</td>
                <td>B.Sc in Chemistry</td>
            </tr>
            <tr>
                <td>Degree Type</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Degree Duration</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Admission process</td>
                <td>Entrance/Merit</td>
            </tr>
            <tr>
                <td>Job profiles</td>
                <td>Chemist, Lab Technician, Assistant Professor</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>B.Sc Statistics</h2>
        <p>
            BSc Statistics is a 3 year undergraduate course after 12th divided into 6 semesters that broadly deals with the areas of Probability and Statistical Methods, Survey Sampling, Numerical Analysis, etc that is essential for statistical analysis and solving statistical problems. The course includes lectures, flying and simulation training, assignments etc aimed at offering classroom, and practical training as well.
        </p>
        <table>
            <tr>
                <td>Degree Name</td>
                <td>B.Sc in Statistics</td>
            </tr>
            <tr>
                <td>Degree Type</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Degree Duration</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Admission process</td>
                <td>Entrance/Merit</td>
            </tr>
            <tr>
                <td>Job profiles</td>
                <td>Financial Analyst, Financial Accountant,Operations Officer-Banking</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>B.Sc in Data Science</h2>
        <p>B.Sc in Data Science is a full-time 3-year undergraduate course that involves concepts of computer science, artificial intelligence, and business analytics. It is a specialization course that is mainly based on bag data analytics, statistics, and machine learning.</p>
        <table>
            <tr>
                <td>Degree Name</td>
                <td>B.Sc in Data Science</td>
            </tr>
            <tr>
                <td>Degree Type</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Degree Duration</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Admission process</td>
                <td>Entrance/Merit</td>
            </tr>
            <tr>
                <td>Job profiles</td>
                <td>Data Architect, Data Administrator, Business Intelligence Manager, Data Scientist, Data Analyst, 
                    Data Architect</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>B.Sc in Physics</h2>
        <p>
            B.Sc. in Physics is a three-year undergraduate program comprising of theory and experimental courses mainly from Physics and few interdisciplinary courses from Mathematics Chemistry and Computer Science.
        </p>
        <table>
            <tr>
                <td>Degree Name</td>
                <td>B.Sc in Physics</td>
            </tr>
            <tr>
                <td>Degree Type</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Degree Duration</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Admission process</td>
                <td>Entrance/Merit</td>
            </tr>
            <tr>
                <td>Job profiles</td>
                <td>Physicist, Researcher, Research Associate, R&D Scientist, Subject Matter Expert, Technician, Radiologist Assistant.</td>
            </tr>
        </table>

    </section>
    <section class="mainBox">
        <h2>B.Sc in Computer Science</h2>
        <p>
            B.Sc in Computer Science, is a three-year undergraduate program that focuses on computer science, computer applications, and their services. This program's main goal is to train high-quality professionals and research fellows who can use software and computer systems technology in any industry.
        </p>
        <table>
            <tr>
                <td>Degree Name</td>
                <td>B.Sc in Computer Science</td>
            </tr>
            <tr>
                <td>Degree Type</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Degree Duration</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Admission process</td>
                <td>Entrance/Merit</td>
            </tr>
            <tr>
                <td>Job profiles</td>
                <td>Web developers, Mobile app developers, Software engineers, System administrators, System architects</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>B.Sc in Electronics</h2>
        <p>BSc in electronics or Bachelor of Science in electronics is a three-year technical undergraduate course that specialises in electrical circuits. It involves the study of electrical components, such as transistors, integrated circuits and diodes.</p>
        <table>
            <tr>
                <td>Degree Name</td>
                <td>B.Sc in Electronics</td>
            </tr>
            <tr>
                <td>Degree Type</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Degree Duration</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Admission process</td>
                <td>Entrance/Merit</td>
            </tr>
            <tr>
                <td>Job profiles</td>
                <td>Sound technician, Software developer</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>B.Sc in Mathematics</h2>
        <p>
            BSc Mathematics is a 3-year undergraduate course that focuses on developing mathematical skills of the candidates along with the analysis of numbers. BSc Mathematics Syllabus is designed in such a manner that it lays emphasis on mathematical structure, transition, and space.
        </p>
        <table>
            <tr>
                <td>Degree Name</td>
                <td>B.Sc in Mathematics</td>
            </tr>
            <tr>
                <td>Degree Type</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Degree Duration</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Admission process</td>
                <td>Entrance/Merit</td>
            </tr>
            <tr>
                <td>Job profiles</td>
                <td>Economist, mathematician, statistician, accountant</td>
            </tr>
        </table>
    </section>
    
</div>