<app-header></app-header>
<div class="body">
    <section class="mainBox">
        <h2>Bachelor of Medicine and Bachelor of Surgery</h2>
        <p>MBBS full form is Bachelor of Medicine, Bachelor of Surgery. Bachelor of Medicine, Bachelor of Surgery, or MBBS degree is a five-year-long undergraduate medical degree programme. Bachelor of Medicine, Bachelor of Surgery, or MBBS is derived from the Latin phrase Medicinae Baccalaureus Baccalaureus Chirurgiae.</p>
        <table>
            <tr>
                <td>Course Name</td>
                <td>Bachelor of Medicine and Bachelor of Surgery</td>
            </tr>
            <tr>
                <td>Abbreviation</td>
                <td>MBBS</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>Degree</td>
            </tr>
            <tr>
                <td>Level</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Field</td>
                <td>Healthcare</td>
            </tr>
            <tr>
                <td>Eligibility</td>
                <td>10+2 with Physics, Chemistry, and Biology</td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>5.5 years</td>
            </tr>
            <tr>
                <td>Career Opportunities</td>
                <td>Physician, Doctor, Endocrinologist, Pathologist, Neurologist, Cardiologist, Gynaecologist</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>MBBS Eligibility Criteria</h2>
        <p>Applicants must meet the MBBS eligibility criteria for admission to the MBBS degree programme. Aspiring candidates need to check all the necessary details, including the MBBS eligibility criteria, and the admission process. Below, we have mentioned the MBBS eligibility criteria.</p>
        <ul>
            <li>The minimum marks criteria may differ, although, in the intermediate test, general applicants should have scored at least 50 per cent marks.</li>
            <li>The minimum age requirement is 17 years to register for the MBBS NEET exam.</li>
            <li>Applicants will have to pass the medical entrance exam needed for MBBS admission.</li>
            <li>Students should have done at least 10+2 with mandatory subjects Physics, Chemistry, and Biology.</li>
            <li>The minimum percentage for eligible candidates for the reserved category is 40 per cent.</li>
            <li>The maximum age restriction for applying for the MBBS course is 25 years</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>MBBS Application Process</h2>
        <p>
            There are various ways of enrolling students in the MBBS course provided by various institutions and schools. In the Bachelor of Medicine and Bachelor of Surgery programmes, educational institutions use various methodologies to enrol applicants. To receive an MBBS degree, applicants must follow the different strategies with a thorough understanding from which they must then achieve university admissions. The various methods by which candidates may become admitted to the MBBS degree are described below.
        </p>
        <p>
            <span style="font-weight: bold;">Entrance exams:</span> The most common method for approving candidates is a medical entrance exam used by colleges and universities. Aspiring MBBS students sit for different entrance exams to earn a Bachelor of Medicine and a Bachelor of Surgery (BMBS or MBBS) degree. The results obtained in these exams allow the students to apply to high-ranking universities offering such degrees.
        </p>
        <p>
            <span style="font-weight: bold;">Merit-based:</span> There are colleges and universities in these courses which offer candidates admissions based on the marks achieved in 10+2. MBBS eligibility criteria are based on competencies gained in 10+2. These colleges often take students using their cut-off lists. But the number of these colleges is very less in numbers and the medical entrance exam is a must for this particular degree.
        </p>
    </section>
    <section class="mainBox">
        <h2>MBBS Specialisations</h2>
        <ul>
            <li>Ophthalmology</li>
            <li>General Medicine</li>
            <li>Orthopedics</li>
            <li>General Surgery</li>
            <li>Anaesthesiology</li>
            <li>Obstetrics & Gynaecology</li>
            <li>Dermatology</li>
            <li>ENT (Ear, Nose, and Throat)</li>
            <li>Psychiatry</li>
            <li>Pediatrics</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>Top MBBS Colleges In India</h2>
        <ul>
            <li>All India Institute of Medical Sciences New Delhi</li>
            <li>Christian Medical College, Vellore</li>
            <li>BHU - Banaras Hindu University, Varanasi</li>
            <li>Amrita Vishwa Vidyapeetham, Coimbatore</li>
            <li>King George’s Medical University, Lucknow</li>
            <li>Madras Medical College, Chennai</li>
            <li>St Johns Medical College, Bangalore</li>
            <li>Sri Ramachandra Institute of Higher Education and Research, Chennai</li>
            <li>Vardhman Mahavir Medical College and Safdarjung Hospital, New Delhi</li>
            <li>Government Medical College and Hospital, Chandigarh</li>
        </ul>
    </section>
</div>