<app-header></app-header>
<div class="body">
    <section class="mainBox">
        <h2>Bachelor of Hotel Management</h2>
        <p>BHM (Bachelor of Hotel Management) is an undergraduate course which deals with the study of numerous fundamentals of hotel management & catering technology. It is a 3 year duration program, which is divided into 6 semesters. Bachelor of Hotel Management adorns students with adequate knowledge and skills to efficiently carry out the administrative operations of hotels & support their service departments. It focuses on theory and projects revolving around the different aspects of the Hotel industry. The course incorporates topics such as methods of cooking, food and beverage industry, lodging and facilities management, event management and tourism industry etc. Students are also taught skills such as interpersonal skills including communication skills, negotiation and working as a team.</p>
        <table>
            <tr>
                <td>Course Name</td>
                <td>Bachelor of Hotel Management</td>
            </tr>
            <tr>
                <td>Type of Course</td>
                <td>Bachelor Degree</td>
            </tr>
            <tr>
                <td>Eligibility</td>
                <td>10+2 with any relevant stream</td>
            </tr>
            <tr>
                <td>Admission Process</td>
                <td>Entrance test/ Merit list/ Direct Admission</td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Examination Type</td>
                <td>Semester System</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>BHM (Bachelor of Hotel Management) Eligibility</h2>
        <p>The BHM eligibility criteria for applicants are below:</p>
        <ul>
            <li>The basic educational eligibility criteria for candidates is passing class 10+2 with any relevant stream from any recognized board in India.</li>
            <li>Applicants are required to have a minimum aggregate of 50% in class 12th. Reserved categories such as SC/ST are provided a relaxation upto 5%.</li>

        </ul>
        <p>
            Candidates are required to have all the above mentioned credentials to fulfill the B.H.M. eligibility criteria. The eligibility criteria for B.H.M. (Bachelor of Hotel Management) might change from institute to institute.
        </p>
    </section>
    <section class="mainBox">
        <h2>BHM (Bachelor of Hotel Management) Admissions</h2>
        <p>Candidates will need to complete some procedures to pursue B.H.M. in any college within India. There are two kinds of admission processes: entrance exam, merit admission and direct admission. First one is an entrance exam, where aspirants are required to qualify the entrance test of the respective colleges they are planning to take admission. Top colleges within India conduct entrance examinations for admission. A few institutes also conduct admission on the basis of the marks obtained in class 12th. The direct admission process is primarily regulated by private institutions. They grant admission based on an individual’s academic qualification.</p>
        <ul>
            <li>Entrance exams: All major colleges within India adhere to the entrance tests system to shortlist applicants for admission. NCHMCT JEE, AIMA UGAT, UPSEE BHMCT, MAH HM CET, WBJEE HM, are top entrance exams conducted in India. Top 2 entrance exams of India: NCHMCT JEE and AIMA UGAT are the only examinations that are conducted on a national level, while remaining entrance tests are regulated on a state level. These exams are a gateway to the best colleges of India which are offering Bachelor of Hotel Management.</li>
            <li>Merit based (class 12 result): Not every college conducts the entrance exams to select candidates for the bachelor’s degree course offered by them in Hotel. There are colleges/institutions that grant admissions to students in courses on the basis of the marks obtained by them in class 12th. The colleges evaluate candidates on the basis of the merit achieved in class 12th and other various eligibility criteria. So candidates must do a thorough research on the colleges, they are planning to apply for admission to avoid any confusion in the future.</li>
            <li>Direct Admission: There are also colleges which offer direct admission in courses, however, the eligibility criteria for direct admission alter for every college. So, a candidate should always analyze criteria before starting the admission process.</li>
        </ul>
        <h4>Applicants must submit stated documents after passing the entrance exam.</h4>
        <ul>
            <li>Passing certificates for 10th & 12th standard</li>
            <li>Mark sheets for 10th & 12th standard</li>
            <li>Passport size photographs</li>
            <li>Transfer certificate</li>
            <li>Character certificate</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>Top BHM Exams</h2>
        <ul>
            <li> NCHMCT JEE (National Council of Hotel Management & Catering Technology Joint Entrance Exam)
            </li>
            <li>AIMA UGAT (All India Management Association Undergraduate Aptitude Test)</li>
            <li>UPSEE BHMCT (Uttar Pradesh State Entrance Examination for Bachelor of Hotel Management and Catering Technology)</li>
            <li>MAH HM CET (Maharashtra Common Entrance Test for Hotel Management)</li>
            <li>WBJEE HM (West Bengal Joint Entrance Examination for Hotel Management)</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>BHM Specializations</h2>
        <ul>
            <li>Tourism Management</li>
            <li>Customer and Personal Service</li>
            <li>Meetings and Events Management</li>
            <li>Management Consultant</li>
            <li>Customer Service Representative</li>
            <li>Operations Manager</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>Scope of BHM (Bachelor of Hotel Management)</h2>
        <h4>Director of Housekeeping</h4>
        <p>Housekeeping directors supervise a team of room attendants, cleaners, & other housekeeping staff. Their job is to make sure that housekeeping keeping standards are met, as well as to manage the department budget.</p>
        <h4>Executive Casino Host</h4>
        <p>The job of executive casino host is to develop relationships, meet and greet guests on the casino floor & attract high-value players so that they become regular players of the casino. In retrospect, their job is to ensure the casino’s profit and financial growth.</p>
        <h4>Flight Attendant</h4>
        <p>Flight attendants enforce safety protocols and provide Hotel which is also a very important part of their job. They serve drinks, snacks & also answers passenger’s questions. They ensure that each flight is as comfortable and safe as possible for passengers.</p>
        <h4>Food & Beverage Director</h4>
        <p>Food and beverage directors work in a range of environments; sporting venues, hotels, airports, etc. They manage the cost of products & inventory, also working along with other departments.</p>
        <h4>Hotel Manager</h4>
        <p>Hotel managers basically run the whole hotel. From ensuring that guests are provided best service. From managing available rooms, dining areas, to checking guests in and out are responsibilities of a hotel manager.</p>
        <h4>Meeting/ Event Manager</h4>
        <p>Event managers play an supervisory role in a big-scale event. They handle every detail regarding the event from booking venue to planning menu to control the budget.</p>
        <h4>Front Office Manager</h4>
        <p>Front office managers are responsible for maintaining the work and office environment. They assign work and manage the purchasing of goods and products.</p>
    </section>
</div>