<app-header></app-header>
<div class="body">
    <section class="mainBox">
        <h2>Bachelor of Computer Applications</h2>
        <p>BCA or Bachelor of Computer Applications is a three-year undergraduate programme in the field of computer science and information technology. BCA is one of the most popular career options for students who want to make their career in areas related to computer science. The programme makes students competent and technically skilled to showcase their technical expertise and work in the IT industry.</p>
        <table>
            <tr>
                <td>Full Form</td>
                <td>Bachelor of Computer Applications</td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>3 years</td>
            </tr>
            <tr>
                <td>Examination Type</td>
                <td>Semester System</td>
            </tr>
            <tr>
                <td>Level of programme</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Eligibility Criteria</td>
                <td>10+2 from a recognized university</td>
            </tr>
            <tr>
                <td>Employment areas</td>
                <td>IT, Software Development, Banking, Networking</td>
            </tr>
            <tr>
                <td>Job Profiles</td>
                <td>Software Developer, Software Tester, Junior Programmer, Database Administrator, Web Designer, Web Developer, System Analyst</td>
            </tr>
            <tr>
                <td>Entrance Examinations</td>
                <td>AIMA UGAT, IPU CET, SUAT, GSAT, SRMHCAT, KIITEE BCA</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>BCA Eligibility</h2>
        <ul>
            <li>
                Students need to know the BCA course details before enrolling to the BCA degree programme.</li>
            <li>
                Candidates who wish to take admission to the Bachelor of Computer Applications programme must have completed 10+2 in any stream from any recognized board.
            </li>
            <li>
                The minimum age limit of the candidate should be 17 years.
            </li>
            <li>
                The BCA eligibility varies depending on various colleges and universities.
            </li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>BCA Application Process</h2>
        <ul>
            <li>
                The admissions in the BCA study programme are done with the help of both the entrance test and merit. For admission into the BCA course programme through merit, the marks obtained by the candidates in senior secondary examinations are considered.  
            </li>
            <li>
                Students need to know the BCA course details before enrolling to the BCA degree programme.
            </li>
            <li>
                Based on these marks and vacant seats, the admissions are done for the BCA study programme. There are many entrance examinations for admission to BCA courses such as IPU CET, BUMAT, AIMA UGAT and SUAT.
            </li>
            <li>
                These entrance examinations are followed by personal interviews or group discussions in some colleges and institutes.
            </li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>BCA Specialisations</h2>
        <p>BCA is an undergraduate programme providing specialisation in the following fields.</p>
        <ul>
            <li>Animation</li>
            <li>Music and Video Processing</li>
            <li>Accounting Applications</li>
            <li>Programming Languages</li>
            <li>Internet Technologies</li>
            <li>Personal Information Management</li>
            <li>Computer Graphics</li>
            <li>Word Processing</li>
            <li>Database Management</li>
            <li>Systems Analysis</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>Employment Areas</h2>
        <p>BCA graduates can join private and government organisations for pursuing various job opportunities. They can also join academics, for the career as a teacher or lecturer. Students who have pursued Bachelor of Computer Application or BCA course programmes, can also work as freelancers. Some of the employment areas for BCA graduates are:</p>
        <ul>
            <li>Information Technology</li>
            <li>Healthcare facilities</li>
            <li>Academics</li>
            <li>Freelancing</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>Top Recruiters</h2>
        <p>In the table below, we have mentioned some of the top companies that hire BCom graduates.</p>
        <ul>
            <li>Ernest and Young</li>
            <li>Punjab National Bank</li>
            <li>LIC</li>
            <li>Citibank</li>
            <li>HDFC</li>
            <li>SBI</li>
            <li>Deloitte</li>
            <li>KPMG</li>
        </ul>
    </section>
</div>