<app-header></app-header>
<div class="body">
        <section class="mainBox">
            <div class="coursesList">
                <h1>List of Top B.Tech courses</h1>
                <ul>
                    <li>Computer Science and Engineering</li>
                    <li>Mechanical Engineering</li>
                    <li>Electronics and Communication Engineering</li>
                    <li>Civil Engineering</li>
                    <li>Electrical Engineering</li>
                    <li>Aeronautical Engineering</li>
                    <li>Biomedical Engineering</li>
                </ul>
            </div>
        </section>
        <section class="mainBox">
          
                <h2>Computer Science and Engineering</h2>
                <p>
                    B Tech Computer Science and Engineering or B Tech in CSE is a 4-year undergraduate engineering course. The B Tech CSE course covers all subject areas related to software and hardware parts of the computer, whether it is theoretical knowledge or practical knowledge you will study everything in B Tech CSE subjects. In a B Tech Computer Science and Engineering course, you will have to study programming languages, algorithms, database management systems, operating systems, computer graphics, computer networks as well as artificial intelligence.
                </p>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            Course Name
                        </td>
                        <td>
                            B.Tech in Computer Science and Engineering
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Course Duration
                        </td>
                        <td>
                            4 Years
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Examination Type
                        </td>
                        <td>
                            Semester system
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Eligibility
                        </td>
                        <td>
                            10+2 (with physics, chemistry, and mathematics with minimum 50 percent marks)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Admission Process
                        </td>
                        <td>
                            Entrance Exams - JEE Main, JEE Advanced, EAPCET
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Job Position
                        </td>
                        <td>
                            Computer Hardware Engineer, Software Developer, Database Administrator, Web Developer, Computer Programmer, Project Manager
                        </td>
                    </tr>
                    
                    
                </tbody>
                </table>
           
        </section>
        <section class="mainBox">
            <h2>Mechanical Engineering</h2>
            <p>
                B.Tech in Mechanical Engineering is a branch of engineering which includes the study of laws and principles of physics to analyse, maintain and design and manufacture mechanical systems. Mechanical engineers usually work in a variety of concepts related to thermodynamics, energy, kinematics and mechanics. This field of work is related to mechanical systems in various fields such as automobiles, manufacturing plants, cooling systems, machinery and industrial equipment to name a few.
            </p>
            <table>
                <tbody>
                <tr>
                    <td>
                        Course Name
                    </td>
                    <td>
                        B.Tech in Mechanical Enginering
                    </td>
                </tr>
                <tr>
                    <td>
                        Course Duration
                    </td>
                    <td>
                        4 Years
                    </td>
                </tr>
                <tr>
                    <td>
                        Examination Type
                    </td>
                    <td>
                        Semester system
                    </td>
                </tr>
                <tr>
                    <td>
                        Eligibility
                    </td>
                    <td>
                        10+2 (with physics, chemistry, and mathematics with minimum 50 percent marks)
                    </td>
                </tr>
                <tr>
                    <td>
                        Admission Process
                    </td>
                    <td>
                        Entrance Exams - JEE Main, JEE Advanced, EAPCET
                    </td>
                </tr>
                <tr>
                    <td>
                        Job Position
                    </td>
                    <td>
                        Design Engineer, Mechanical Engineer, Project Manager
                    </td>
                </tr>
            </tbody>
            </table>
        </section>
        <section class="mainBox">
            <h2>Electronics and Communication Engineering</h2>
            <p>
                B Tech in Electrical Engineering is a four-year undergraduate degree program. The B Tech Electrical Engineering course deals with the study and application of electricity, electronics, and electromagnetism for the development and maintenance of electrical and electronic equipment. Students will explore numerous B Tech Electrical Engineering career options after completing the course. They can work as Electrical Engineers in myriad industries such as hardware companies, large power plants, industrial machinery, electrical motors, and computer chips. They also work in the manufacturing of ignition systems for automobiles, aircraft, space crafts, and all kinds of engines.
            <table>
                <tbody>
                <tr>
                    <td>
                        Course Name
                    </td>
                    <td>
                        B.Tech in Electronics and Communication Engineering
                    </td>
                </tr>
                <tr>
                    <td>
                        Course Duration
                    </td>
                    <td>
                        4 Years
                    </td>
                </tr>
                <tr>
                    <td>
                        Examination Type
                    </td>
                    <td>
                        Semester system
                    </td>
                </tr>
                <tr>
                    <td>
                        Eligibility
                    </td>
                    <td>
                        10+2 (with physics, chemistry, and mathematics with minimum 50 percent marks)
                    </td>
                </tr>
                <tr>
                    <td>
                        Admission Process
                    </td>
                    <td>
                        Entrance Exams - JEE Main, JEE Advanced, EAPCET
                    </td>
                </tr>
                <tr>
                    <td>
                        Job Position
                    </td>
                    <td>
                        Electronics Engineer, Advertising Manager, R&D Engineer
                    </td>
                </tr>
            </tbody>
            </table>
        </section>
        <section class="mainBox">
          
            <h2>Civil Engineering</h2>
            <p>
                B.Tech in Civil Engineering is a four year undergraduate engineering program that includes the study of material science, structural designs, construction materials and management. Civil engineering is all about planning, designing and supervising the construction of facilities essential to modern life like bridges, highways, offshore buildings, colleges and schools, airports, dams, water facilities and sewage systems. Individuals in this engineering specialisation also improve existing infrastructure that has been neglected and help to preserve the environment by assisting in the cleaning up of pollution and devising new ways to reduce future pollution of water, air and land.
            </p>
            <table>
                <tbody>
                <tr>
                    <td>
                        Course Name
                    </td>
                    <td>
                        B.Tech in Civil Engineering
                    </td>
                </tr>
                <tr>
                    <td>
                        Course Duration
                    </td>
                    <td>
                        4 Years
                    </td>
                </tr>
                <tr>
                    <td>
                        Examination Type
                    </td>
                    <td>
                        Semester system
                    </td>
                </tr>
                <tr>
                    <td>
                        Eligibility
                    </td>
                    <td>
                        10+2 (with physics, chemistry, and mathematics with minimum 50 percent marks)
                    </td>
                </tr>
                <tr>
                    <td>
                        Admission Process
                    </td>
                    <td>
                        Entrance Exams - JEE Main, JEE Advanced, EAPCET
                    </td>
                </tr>
                <tr>
                    <td>
                        Job Position
                    </td>
                    <td>
                        Civil Engineer, Structural Engineer, Geotechnical Engineer, Site Engineer, Construction Engineer, Transportation Engineer, Environmental Engineer
                    </td>
                </tr>
            </tbody>
            </table>
       
    </section>
    <section class="mainBox">
          
        <h2>Electrical Engineering</h2>
        <p>
            B Tech Computer Science and Engineering or B Tech in CSE is a 4-year undergraduate engineering course. The B Tech CSE course covers all subject areas related to software and hardware parts of the computer, whether it is theoretical knowledge or practical knowledge you will study everything in B Tech CSE subjects. In a B Tech Computer Science and Engineering course, you will have to study programming languages, algorithms, database management systems, operating systems, computer graphics, computer networks as well as artificial intelligence.
        </p>
        <table>
            <tbody>
            <tr>
                <td>
                    Course Name
                </td>
                <td>
                    B.Tech in Electrical Engineering
                </td>
            </tr>
            <tr>
                <td>
                    Course Duration
                </td>
                <td>
                    4 Years
                </td>
            </tr>
            <tr>
                <td>
                    Examination Type
                </td>
                <td>
                    Semester system
                </td>
            </tr>
            <tr>
                <td>
                    Eligibility
                </td>
                <td>
                    10+2 (with physics, chemistry, and mathematics with minimum 50 percent marks)
                </td>
            </tr>
            <tr>
                <td>
                    Admission Process
                </td>
                <td>
                    Entrance Exams - JEE Main, JEE Advanced, EAPCET
                </td>
            </tr>
            <tr>
                <td>
                    Job Position
                </td>
                <td>
                    Electronics Engineer, Electrical Engineer, Instrumentation Engineer
                </td>
            </tr>
        </tbody>
        </table>
   
</section>
<section class="mainBox">
          
    <h2>Aeronautical Engineering</h2>
    <p>
        B.Tech in Aeronautical Engineering is a course which can be pursued after completing 10+2. B. Tech in Aeronautical Engineering is one of the important branches of engineering. In India, there are many colleges and universities that provide a B.Tech degree in Aeronautical Engineering. The duration of B Tech in Aeronautical Engineering is four years, which is divided into eight semesters. If you are interested in the design and system of an aircraft then aeronautical engineering is the best course for you.
    </p>
    <table>
        <tbody>
        <tr>
            <td>
                Course Name
            </td>
            <td>
                B.Tech in Aeronautical Engineering
            </td>
        </tr>
        <tr>
            <td>
                Course Duration
            </td>
            <td>
                4 Years
            </td>
        </tr>
        <tr>
            <td>
                Examination Type
            </td>
            <td>
                Semester system
            </td>
        </tr>
        <tr>
            <td>
                Eligibility
            </td>
            <td>
                10+2 or equivalent from a recognized school board (Science stream is mandatory)
            </td>
        </tr>
        <tr>
            <td>
                Admission Process
            </td>
            <td>
                Entrance Exams - JEE Main, JEE Advanced, EAPCET
            </td>
        </tr>
        <tr>
            <td>
                Job Position
            </td>
            <td>
                Design Engineer, Aerospace System Engineer, Software Engineer, Mechanical Engineer, Aircraft Maintenance Engineer
            </td>
        </tr>
    </tbody>
    </table>

</section>
<section class="mainBox">
    <h2>Biomedical Engineering</h2>
    <p>
        B Tech in Biomedical Engineering is an important part of the engineering domain which deals with the study, and application of engineering principles, and design concepts related to Medicine and Biology. This Engineering branch aims to combine the design and problem-solving skills of engineering biological science to improve healthcare diagnosis, monitoring and therapy. Biomedical engineers use their expertise to assist practitioners like doctors and general physicians in their healthcare practices. B Tech in Biomedical Engineering is a four-year undergraduate-level B. Tech course that is divided into eight semesters.
    <table>
        <tbody>
        <tr>
            <td>
                Course Name
            </td>
            <td>
                B.Tech in Biomedical Engineering
            </td>
        </tr>
        <tr>
            <td>
                Course Duration
            </td>
            <td>
                4 Years
            </td>
        </tr>
        <tr>
            <td>
                Examination Type
            </td>
            <td>
                Semester system
            </td>
        </tr>
        <tr>
            <td>
                Eligibility
            </td>
            <td>
                Entrance Exam is held every year followed by the counselling process, 12th marks to judge the eligibility of a candidate (Applicable in some colleges)
            </td>
        </tr>
        <tr>
            <td>
                Admission Process
            </td>
            <td>
                Entrance Exams - JEE Main, JEE Advanced, EAPCET
            </td>
        </tr>
        <tr>
            <td>
                Job Position
            </td>
            <td>
                Bio Medical Engineer, Software Engineer, Medical Lab Technician, Laboratory Technician
            </td>
        </tr>
    </tbody>
    </table>
</section>

    
</div>