<app-header></app-header>
<div class="body">
    <section class="mainBox">
        <h2>Chartered Accountancy</h2>
        <p>Chartered accountancy revolves around the study of accounting and taxation procedures to be qualified as a professional who can take care of the accounting and the taxation for a business or a firm. Chartered Accountancy is unlike the regular professionals wherein one needs to attend college to get a degree and then go for Master’s and PhD. The Chartered Accountancy is a professional degree itself, but it cannot be disintegrated into undergraduate or postgraduate degrees or levels. Rather it is a degree that can be achieved after qualifying the three levels of exams that comes in between the completion of the degree. The three levels include the foundation level, intermediate level and final level. Only after a candidate has qualified all the three levels can they work as a professional chartered accountant.</p>
        <table>
            <tr>
               <td>Course Name</td>
               <td>
                Chartered Accountancy
               </td>
            </tr>
            <tr>
                <td>Degree</td>
                <td>Certification</td>
            </tr>
            <tr>
                <td>Conducting Body</td>
                <td>Institute of Chartered Accountants of India (ICAI)</td>
            </tr>
            <tr>
                <td>Course Routes</td>
                <td>Foundation Course or Direct Entry </td>
            </tr>
            <tr>
                <td>Eligibility</td>
                <td>Foundation Route: After Class 12 Direct Entry Route: Graduation</td>
            </tr>
            <tr>
                <td>Areas of Employment</td>
                <td>Audit, Taxation, Banking, Finance, Management etc.</td>
            </tr>
            <tr>
                <td>Job Profiles</td>
                <td>Accountant, Finance Manager, Accounting Manager, Business Analyst, Chartered Engineer</td>
            </tr>
            <tr>
                <td>Top Recruiters</td>
                <td>KPMG, Deloitte, Ernst & Young (EY), Lodha & Co., PriceWaterhouseCoopers (PWC) etc.</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>Chartered Accountancy (CA) Eligibility Criteria</h2>
        <p>The criterion for the chartered accountancy course depends on the path that the candidates choose to follow. The foundation path can be pursued after the completion of class 12, whereas the direct route is for candidates that have completed an undergraduate degree in any discipline.</p>
        <h4>For the foundation path</h4>
        <p>Candidates who wish to pursue chartered accountancy through the foundation path have to complete their class 12 from a recognized institution to be eligible to apply for the common proficiency test.</p>
        <h4>For the direct entry path</h4>
        <p>Candidates who wish to pursue chartered accountancy through the direct entry path have to have an undergraduate degree to apply to the ICAI for the registration of intermediate exams.</p>
        <p>Candidates who have a commerce undergraduate degree should have at least 55 percent aggregate while the other discipline degree holders need at least 60 percent aggregate in their undergraduate degree.</p>
    </section>
    <section class="mainBox">
        <h2>Chartered Accountancy Entrance Exams</h2>
        <p>The entrance exam for the course of chartered accountancy is conducted for the candidates who choose to pursue chartered accountancy after class 12. For the candidates that choose to pursue chartered accountancy after graduation are exempted from the entrance exam because they can directly register for the intermediate exam with the ICAI after the completion of graduation.</p>
        <h4>Common Proficiency Test (CPT)</h4>
        <p>This entrance exam is conducted for the prospective candidates of chartered accountancy courses for the students from all the streams after the completion of their class 12. They need to qualify this exam to be eligible to register with the ICAI for the intermediate level exam of the CA Course.</p>
        <p>The chartered accountancy admission procedure can be followed for the admission through the two different paths that are there to pursue the CA as per the level of education. The following steps summarize the admission into the CA course following both the admission paths that are possible for the admission to the course.</p>
        <ul>
            <li>If the candidate wishes to pursue chartered accountancy course after the completion of their class 12, then they will have to appear for the Common Proficiency Test (CPT).</li>
            <li>If they clear the CPT, then they can register themselves for the intermediate level exam with ICAI.</li>
            <li>If a candidate wishes to pursue chartered accountancy after their graduation, then they will need to have a great aggregate in their graduate degree after.</li>
            <li>These graduates can skip the foundation level of the chartered accountancy course to directly register themselves with the ICAI for the intermediate exam level.</li>
            <li>Once they have been registered with the ICAI, they will be given time and the guidelines to prepare for the next set of exams.</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>Chartered Accountancy (CA) Job Profiles &Salaries</h2>
        <p>The qualified chartered accountant has a wide range of employment options. They are typically recruited to handle the accounting, taxation, and financial accounts of the companies and corporations, but they are capable of much more. A person after completing CA course can work at the below-mentioned job profiles. The desirous students can also have a look at the table to know the salaries they can fetch at different positions.</p>
        <ul>
            <li>Chartered Accountant</li>
            <li>Financial Controller</li>
            <li>Tax Accountant</li>
            <li>Chief Financial Officer</li>
            <li>Auditor</li>
            <li>Accounts Clerk</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>Top Recruiters</h2>
        <ul>
            <li>E&Y</li>
            <li>Grant Thorton</li>
            <li>Olam International</li>
            <li>KPMG</li>
            <li>BDO</li>
            <li>Alghanim Industries</li>
            <li>Deloitte</li>
            <li>RSM International</li>
            <li>ETA Ascon Group</li>
            <li> Kuwait Resources House</li>
        </ul>
    </section>
</div>