<app-header></app-header>
<div class="body">
    <section class="mainBox">
        <h2>Bachelor of Education</h2>
        <p>Bachelors of Education (B.Ed.) is a degree with two-year duration which is based on employment as a teacher for primary, secondary, or senior secondary levels in a school. Teaching is a noble profession in India and also one of the most respected ones. People these days know the importance of education and want their children to be literate, and thus, have to rely upon people called ‘teachers’ for that purpose.</p>
        <table>
            <tr>
                <td>Degree Name</td>
                <td>B.Ed (Bachelor of Education)</td>
            </tr>
            <tr>
                <td>Degree Type</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Degree Duration</td>
                <td>Two years</td>
            </tr>
            <tr>
                <td>Entrance Exams</td>
                <td>CTET, HTET, UPTET, HP TET, Bihar TET, MP TET</td>
            </tr>
            <tr>
                <td>Eligibility Criteria</td>
                <td>Bachelor degree in any stream</td>
            </tr>
            <tr>
                <td>Admission process</td>
                <td>Entrance Exam</td>
            </tr>
            <tr>
                <td>Job profiles</td>
                <td>	
                    Educational Counsellor, Teacher, Language Trainer
                    Content Writer, Highschool Teacher, Researcher</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>B.Ed Eligibility</h2>
        <p>The exact eligibility criteria for Bachelors of Education shall vary depending upon the institute applying for. The basic criteria of B Ed eligibility can be summed up as below:</p>
        <ul>
            <li><span style="font-weight: bold;">Qualification: </span>The candidate should have a bachelor's degree in any stream from a recognized university, be it science, commerce, humanities, journalism.</li>
            <li><span style="font-weight: bold;">Minimum Score: </span>As per trends, people willing to take up B Ed admission should have a score of at least 50 per cent - 60 per cent or such equivalent grade in their bachelors.</li>
            <li><span style="font-weight: bold;">Age: </span>There is no specific upper or lower age limit for candidates who want to get a B Ed degree.</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>B.Ed Admissions</h2>
        <p>The admission procedure for B.Ed degree courses varies for the different institutes. For example, there are universities that conduct specific entrance examinations in order to take up admissions in B. Ed degree, while some others offer admissions directly on the basis of merit and not through some entrance examination. Thus, the process of admission shall totally be based upon the institute itself.</p>
    </section>
    <section class="mainBox">
        <h2>Top B.Ed Exams</h2>
        <p>
            CTET: The Central Board of School Education (CBSE) conducts the CTET exam twice a year. Candidates for teaching jobs may apply to the teacher recruitment process by appearing in the Central Teacher Eligibility Test. This hiring procedure is carried out by the Kendriya Vidyalaya Sangathan, Navodaya Vidyalaya Samiti, other central schools, and Army Public School.
        </p>
        <p>
            HTET: The Board of School Education, Haryana, conducts the HTET, or Haryana Teachers Eligibility Test. Primary Teacher, Trained Graduate Teacher (TGT), and Post Graduate Teacher (PGT) eligibility tests are all conducted by Board of School Education, Haryana (BSEH) for schools affiliated with the Haryana Government.
        </p>
        <p>
            Bihar TET: The Bihar School Examination Board conducts the state-level Bihar TET (Teacher Eligibility Test). Candidates who want to pursue a career as teachers in Bihar's public schools need to pass this exam.
        </p>

    </section>
    <section class="mainBox">
        <h2>Careers Opportunities after B.Ed</h2>
        <p>It is well known among the student fraternity that B.Ed is a basic requirement for pursuing a profession in teaching. Candidates can be employed as a teacher at primary, secondary and senior secondary levels. And therefore, the base of career opportunities after bachelors in education lie around teaching, however, the place of teaching may vary depending upon the employment. Given below are some fields of nature of employment that are open for someone who has completed his or her B.Ed degree and looking for a career thereafter:</p>
        <ul>
            <li>Teacher</li>
            <li>Educational Content Developer</li>
            <li>Private Tutor</li>
            <li>Educational Consultant</li>
            <li>Educational Researcher</li>
            <li>Principal and Vice Principal</li>
        </ul>
    </section>
</div>