<app-header></app-header>
<div class="body">
    <section class="mainBox">
        <h2>B.Arch (Bachelor of Architecture)</h2>
        <p>
            The full form of B.Arch is a Bachelor of Architecture. It is an architecture course the study of buildings and their form, it is a course that includes the study of human psychology, physical and chemical properties of different materials. One needs to have a creative mind and should be able to imagine things. A Bachelor of Architecture deals with buildings or places that are well designed by a designer or an architect which would be most comfortable for anyone to use. Bachelor of Architecture (B.Arch) is the application of different streams such as Humanities, Environment studies, Mathematics, Engineering, and Aesthetics for studying the different aspects of architecture.
        <table>
            <tbody>
            <tr>
                <td>
                    Course Name
                </td>
                <td>
                    Bachelor of Architecture.
                </td>
            </tr>
            <tr>
                <td>
                    Course Duration
                </td>
                <td>
                    5 Years
                </td>
            </tr>
            <tr>
                <td>
                    Eligibility
                </td>
                <td>
                    10+2 with minimum 50% cent marks
                </td>
            </tr>
            <tr>
                <td>
                    Type
                </td>
                <td>
                    Under Graduate
                </td>
            </tr>
            <tr>
                <td>
                    Field
                </td>
                <td>
                    Architecture
                </td>
            </tr>
            <tr>
            <tr>
                <td>
                    Admission Process
                </td>
                <td>
                    Entrance Exam
                </td>
            </tr>
            <tr>
                <td>
                    Job Position
                </td>
                <td>
                    Design Architect, Urban planner, Architect and Landscape Architect
                </td>
            </tr>
        </tbody>
        </table>
    </section>
    <section class="mainBox">
        <h2>Entrance Exams</h2>
       <p>
        <span style="font-weight: bold;">NATA:</span> National Aptitude Test in Architecture (NATA) is a national level entrance examination. The exam is conducted by the Council of Architecture (COA). Through this exam, admission will be offered to 5 years Bachelor of Architecture (B.Arch) across India. This exam is conducted twice a year in April and July. Many private or government universities and institutes consider NATA scores to provide admission in Architecture courses.
       </p>
       <p>
        <span style="font-weight: bold;">JEE Main:</span> JEE Main has two papers, paper 1 and paper 2. Candidates may opt for either or both of them. Paper-1 is for admission to B.E./B.Tech courses and is conducted only online. Paper-2 is for admission in B.Arch and B. Planning courses and is conducted only offline. The similarity between the two of them is that the question contains only multiple choice questions. JEE Main has a fixed exam structure and is not subject to change every year.
       </p>
       <p>
        <span style="font-weight: bold;">AAT:</span> Architecture aptitude test (AAT) is for the candidates who qualified JEE advance and wish to take admission in the B.Arch (Bachelor of Architecture). The programme is offered only by IIT Kharagpur and IIT Roorkee. The admission in B.Arch courses is not as per AAT rank or score, it is based on JEE Advanced AIR. However, passing AAT is mandatory for being considered for B.Arch seat allotment. To appear in AAT candidates need to register separately after JEE Advanced Result. This exam is also held at a national level to appear in which the candidates have to use their JEE Advanced Admit Card.
       </p>
    </section>
    <section class="mainBox">
        <h2>B.Arch Specialisations</h2>
        <p>
            <span style="font-weight: bold;"> Architectural design:</span> Architectural design is a concept that focuses on components or elements of a structure. An architect is generally the one in charge of the architectural design. They work with space and elements to create a coherent and functional structure.
        </p>
        <p>
            <span style="font-weight: bold;">Building Information Modeling (BIM):</span> BIM is an intelligent 3D model-based process that gives architecture, engineering, and construction (AEC) professionals the insight and tools to more efficiently plan, design, construct, and manage buildings and infrastructure.
        </p>
        <p>
            <span style="font-weight: bold;">Building engineering:</span> Building engineering technology involves the process of designing and constructing buildings and other types of structures. A degree in building engineering technology prepares students to manage construction projects as well as design, implement and maintain building components.
        </p>
        <p>
            <span style="font-weight: bold;">Graphic design: </span> Graphic design is art with a purpose. It involves a creative and systematic plan to solve a problem or achieve certain objectives, with the use of images, symbols or even words. It is visual communication and the aesthetic expression of concepts and ideas using various graphic elements and tools. 
        </p>
        <p>
            <span style="font-weight: bold;">Community design: </span> Community design stands for an alternative style of practice, based on the idea that professional technical knowledge is often inadequate in the resolution of social problems.
        </p>
        <p>
            <span style="font-weight: bold;">Computer-aided design: </span> CAD (computer-aided design) software is used by architects, engineers, drafters, artists, and others to create precision drawings or technical illustrations. ... CAD/CAM (computer-aided design/computer-aided manufacturing) is software used to design products such as electronic circuit boards in computers and other devices.
        </p>
        <p>
            <span style="font-weight: bold;">Engineering: </span> Engineering is a scientific field and job that involves taking our scientific understanding of the natural world and using it to invent, design, and build things to solve problems and achieve practical goals. This can include the development of roads, bridges, cars, planes, machines, tools, processes, and computers.
        </p>
        <p>
            <span style="font-weight: bold;">Housing: </span> Housing, or more generally living spaces, refers to the construction and assigned usage of houses and buildings collectively, to shelter people — the planning or provision delivered by an authority, with related meanings.
        </p>
    </section>
    <section class="mainBox">
        <h2>Top Architecture Colleges in India</h2>
        <ul>
            <li>IIT-Roorkee, Uttarakhand</li>
            <li>IIT-Kharagpur, West Bengal</li>
            <li>School of planning and Architecture, New Delhi</li>
            <li>Sir J J College of Architecture-Mumbai</li>
            <li>Birla Institute of Technology, Pilani, Rajasthan</li>
            <li>Chandigarh College of Architecture, Chandigarh</li>
            <li>CEPT, Ahmedabad</li>
            <li>School of Planning and Architecture, Bhopal</li>
            <li>Jamia Milia Islamia-New Delhi</li>
            <li>MSU, Baroda</li>
            <li>Anna University, Chennai</li>
            <li>Department of Architecture, NIT Tiruchirappalli </li>
            <li>Visvesvaraya National Institute of Technology, Nagpur</li>
            <li>National Institute of Technology, Hamirpur</li>
            <li>College of Engineering, Trivandrum</li>
        </ul>
    </section>
</div>
