<app-header></app-header>
<div class="body">
    <section class="mainBox">
        <h2>Bachelor of Pharmacy</h2>
        <p>B Pharma or Bachelor of Pharmacy is an undergraduate degree programme in the field of pharmacy. The B Pharma course duration is four years which is divided into eight semesters, two semesters in each year. Bachelor of Pharmacy is the study of pharmaceutical science subjects such as drug safety, discovery, medical chemistry, industrial pharmacy, and several other subjects.</p>
        <table>
            <tr>
                <td>Course Name</td>
                <td>Bachelor of Pharmacy</td>
            </tr>
            <tr>
                <td>Abbreviation</td>
                <td>B. Pharma</td> 
            </tr>
            <tr>
                <td>Type</td>
                <td>Degree</td>
            </tr>
            <tr>
                <td>Level</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Field</td>
                <td>Healthcare</td>
            </tr>
            <tr>
                <td>Eligibility</td>
                <td>10+2 with Physics, Chemistry, and Biology/Mathematics</td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>Four years</td>
            </tr>
            <tr>
                <td>Career Opportunities</td>
                <td>Pharmacist, Chemist, Biochemist</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>B Pharmacy Eligibility Criteria</h2>
        <p>B Pharmacy eligibility criteria can be defined as a set of parameters that are required to be fulfilled by the candidates in order to be eligible for a particular course. Students who are interested in pursuing a B Pharmacy course have to meet the B Pharmacy eligibility criteria mentioned below:</p>
        <ul>
            <li>Students must clear their 10+2 with physics, chemistry, mathematics, and biology as compulsory subjects.</li>
            <li>The minimum percentage to gain admission students must score a minimum of 50 per cent marks in the qualifying examination.</li>
            <li>Students who have completed their three-year diploma in pharmacy or D Pharma course are also eligible to pursue a B Pharmacy course.</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>B Pharma Application Process</h2>
        <p>Students who are interested in gaining admission to B. Pharmacy must complete 10+2 and qualify for the entrance examination. Students can either appear for a national-level entrance examination for B. Pharma. or various other state-level entrance examinations such as TS EAMCET, AP EAMCET, BCECE, and WBJEE among others.</p>
        <ul>
            <li>Students need to complete 10+2 to take admitted to the B. Pharmacy course.</li>
            <li>Aspiring candidates need to appear for the entrance examination.</li>
            <li>After qualifying for the entrance tests, students should appear for the counselling process.</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>B. Pharma Specialisations</h2>
        <p>B. Pharma (Bachelor of Pharmacy) is a four-year-long undergraduate degree programme, that can be pursued after completing 10+2. Below, we have mentioned the specialisation of the B. Pharma (Bachelor of Pharmacy) course, which students can choose while pursuing the B. Pharma course.</p>
        <ul>
            <li>Ayurveda</li>
            <li>Pharmaceutics</li>
            <li>Pharmaceutical Chemistry</li>
            <li>Pharmacology and Toxicology</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>Top colleges for B.Pharma</h2>
        <ul>
            <li>SHUATS Allahabad</li>
            <li>RTMNU Nagpur</li>
            <li>Rani Durgavati Vishwavidyalaya, Jabalpur</li>
            <li>SLT Institute of Pharmaceutical Sciences Bilaspur</li>
            <li>Swami Ramanand Teerth Marathwada University, Nanded</li>
            <li>Saurashtra University, Rajkot</li>
            <li>Veer Bahadur Singh Purvanchal University, Jaunpur</li>
            <li>BK Modi Government Pharmacy College, Rajkot</li>
            <li>Assam Medical College, Dibrugarh</li>
            <li>Andhra Kesari University, Ongole</li>
        </ul>
    </section>
</div>