<app-header></app-header>
<div class="body">
    <section class="mainBox">
        <h2>Bachelor of Dental Surgery</h2>
        <p>
            BDS full form is Bachelor of Dental Surgery, it is a four-year undergraduate programme. Candidates who want to pursue a career as a Dental surgeon can opt for the BDS course. Students should have PCB in their 10+2 to be eligible for BDS course. Many higher education institutes offer BDS courses. In this article, we will be discussing the BDS subjects year-wise.
        </p>
        <table>
            <tr>
                <td>Name of Degree</td>
                <td>Bachelor of Dental Surgery (BDS)</td>
            </tr>
            <tr>
                <td>Level</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>Four years</td>
            </tr>
            <tr>
                <td>Semester/Yearly</td>
                <td>Semester</td>
            </tr>
            <tr>
                <td>Admission Process</td>
                <td>Entrance test followed by counselling by the authorities.</td>
            </tr>
            <tr>
                <td>Eligibility Criteria</td>
                <td>Should have completed 10+2 from a recognised institute/board</td>
            </tr>
            <tr>
                <td>Types of Careers</td>
                <td>Dental Technician, Prosthodontist, Dental Hygienist, Dental Consultant, Dentist</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>BDS Eligibility Criteria</h2>
        <p>
            Aspiring applicants must meet the BDS eligibility criteria for the admission in BDS course. They need to be aware of the basic BDS eligibility criteria required for pursuing a bachelor's degree in bachelor of dental surgery, including the course understanding. These are the necessary eligibility requirements that the students must follow to obtain BDS admission. The eligibility criteria for BDS admissions as per NEET are given below.
        </p>
        <ul>
            <li>Candidates have to pass a recognised Higher/Senior Secondary Examination or the Indian School Certificate Examination equivalent to 10+2 with Physics, Chemistry, Biology/Biotechnology.</li>
            <li>Unreserved candidates and OCI, NRI, and foreign candidates must have secured at least 50 per cent in their qualifying exam in Physics, Chemistry and Biology/ Biotechnology.</li>
            <li>Candidates belonging to Scheduled Castes, Scheduled Tribes or Other Backward Classes (OBC)must have secured 40 per cent.</li>
            <li>PwD candidates must have secured 45 per cent in their qualifying exams.</li>
            <li>Candidates must have completed 17 years at the time of admission or before December 31 of the year of admission.</li>
        </ul>

    </section>
    <section class="mainBox">
        <h2>BDS Application Process</h2>
        <p>
            Since in India, NEET is the single dental entrance examination, no exam is conducted for granting undergraduate dental admission in the country. Admission to the BDS degree will be done only on the basis of NEET scores. In order to pursue a BDS degree, aspirants are required to appear and qualify for the National Eligibility Entrance Test. The admission process for the BDS degree comprises filling out the application form for NEET, followed by admit card, conducting the exam, results, and counseling.
        </p>
        <ul>
            <li>Candidates are required to fill out the NEET BDS application form by paying the requisite amount within the due dates.</li>
            <li>Registered candidates will be issued the admit card for a BDS degree, which needs to be carried at the exam center for verification purposes.</li>
            <li>The result of BDS will be released in online mode in the form of a scorecard.</li>
            <li>Aspirants can download the BDS result-cum-scorecard by logging in using the required credentials.</li>
            <li>Aspirants who will secure the BDS cutoff will only be considered qualified and eligible for the counselling process.</li>
            <li>Qualified candidates are required to participate in the counselling process by registering themselves for successful granting of BDS admission within the due dates.</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>BDS Specialisations</h2>
        <p>BDS specialisations available for the dentists to choose the area in which they would like to mark their career. They have a choice of nine specialisations to choose from while pursuing their masters as given below.</p>
        <ul>
            <li>Oral Medicine, Diagnosis, and Radiology</li>
            <li>Prosthodontics</li>
            <li>Periodontal Surgery and Oral Implantology</li>
            <li>Oral and Maxillofacial Surgery</li>
            <li>Pedodontics</li>
            <li>Oral Pathology and Microbiology</li>
            <li>Public Health Dentistry</li>
            <li>Conservative Dentistry and Endodontics</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>Top Colleges for BDS</h2>
        <ul>
            <li>King George's Medical University - [KGMU], Lucknow</li>
            <li>Maulana Azad Institute of Dental Sciences - [MAIDS], New Delhi</li>
            <li>Pt Bhagwat Dayal Sharma Post Graduate Institute of Medical Sciences - [PGIMS], Rohtak</li>
            <li>Institute of Medical Sciences - [IMS BHU], Varanasi</li>
            <li>Manipal College of Dental Sciences - [MCODS], Mangalore</li>
            <li>Manipal College of Dental Sciences - [MCODS], Manipal</li>
            <li>Nair Hospital Dental College, Mumbai</li>
            <li>Bapuji Dental College and Hospital - [BDCH], Davanagere</li>
            <li>Government Dental College & Hospital, Mumbai</li>
            <li>A B Shetty Memorial Institute of Dental Sciences - [ABSMIDS], Mangalore</li>
        </ul>
    </section>
</div>