<app-header></app-header>
<div class="body">
    <section class="mainBox">
        <h2>Bachelor of Science in Nursing</h2>
        <p>B Sc Nursing or Bachelor of Science in Nursing is a four-year undergraduate degree programme in the field of medical science. Aspirants who have completed 10+2 in the Science stream with a major focus on biology or have completed a diploma in Nursing are eligible to apply for the BSc Nursing course. Bachelor of Science in Nursing is a four-year undergraduate course which prepares students to serve humanity through medical treatment. This undergraduate degree in Nursing course inculcates the art of nursing the sick and the wounded, B Sc Nursing curriculum includes various subjects like Physiology, Anatomy, Biochemistry, Nutrition and Dietetics, Psychology all related to the human body.</p>
        <table>
            <tr>
                <td>Degree Level</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Full Form</td>
                <td>Bachelor of Science in Nursing</td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>Four Years</td>
            </tr>
            <tr>
                <td>Minimum Percentage</td>
                <td>50 per cent in 10+2 from a recognised board</td>
            </tr>
            <tr>
                <td>Subjects Required</td>
                <td>Physics, Chemistry and Biology</td>
            </tr>
            <tr>
                <td>
                    Employment Roles
                </td>
                <td>
                    Staff Nurse, Registered Nurse (RN), Nurse Educator, Medical Coder, Registered Nurse (RN) - Emergency Room, Nurse - Intensive Care Unit (ICU), Neonatal Intensive Care Unit (NICU) Registered Nurse
                </td>
            </tr>
        </table> 
    </section>
    <section class="mainBox">
        <h2>B.Sc Nursing Eligibility Criteria</h2>
        <p>In order to apply for BSc Nursing, aspirants will have to meet certain BSc Nursing eligibility criteria. However, the B Sc Nursing eligibility criteria vary from one institute to another. All the entrance examinations do not have the same eligibility criteria. The BSc Nursing course duration is for four years and divided into six parts and an internship programme. Therefore, for the reference of the aspirants, mentioned below basic eligibility criteria for BSc Nursing which every entrance exam and institute will have:</p>
        <ul>
            <li>Candidates must have passed class 12 with a minimum of 50 per cent in Physics, Chemistry, and Biology.</li>
            <li>English is also a mandatory subject in class 12.</li>
            <li>Aspirants have to get a certificate in GNM (General Nursing Midwifery) and register themselves as RNRM from the State Nurses Registration Council.</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>BSc Nursing Admission Process</h2>
        <p>For BSc Nursing, the admissions are offered mostly based on entrance exams. For the entrance examinations mentioned below, candidates have to fill out the application form, which can be available both online and offline mode. Before enrolling to any college, candidates need to check the BSc nursing admission process. Candidates need to find out the BSc Nursing college where they would like to take BSc Nursing admission and appear for the BSc Nursing entrance exam. Visit the University website to fill up the form with all the necessary BSc Nursing admission details. The BSc nursing admission fee payment needs to be done either in online or offline mode, depending on the BSc Nursing college. Appear for the entrance exam, and qualify to gain admission to the BSc nursing college.</p>
        <ul>
            <li>Students need to check the BSc Nursing eligibility criteria and fill out the forms.</li>
            <li>They need to appear for the entrance examinations.</li>
            <li>After qualifying for the entrance examination, students need to fill out the BSc Nursing fees.</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>Top Exams for BSc Nursing</h2>
        <p><span style="font-weight: bold;">NEET : </span>National Eligibility cum Entrance Test-Undergraduate (NEET-UG) is the national-level entrance examination, required for admission in BSc Nursing course. Each and every applicant who aspires to be recruited for the B.Sc Nursing course must apply for the National Eligibility-Cum-Entrance Exam-UG.
        </p>
        <p><span style="font-weight: bold;">AIIMS Nursing : </span>All India Institute of Medical Sciences Nursing exam or AIIMS Nursing examination is one of the top entrance examinations for admission to the BSc Nursing degree programme. AIIMS Nursing Examination is conducted by All India Institute of Medical Sciences, New Delhi.</p>
    </section>
    <section class="mainBox">
        <h2>Top Collegs for BSc Nursing</h2>
        <ul>
            <li>ACN Jalandhar</li>
            <li>AIHS Bangalore</li>
            <li>AIN Guwahati</li>
            <li>GMC Nagpur</li>
            <li>HCN Dehradun</li>
            <li>AFMC Pune</li>
            <li>GMC Nagpur</li>
            <li>IGMC Shimla</li>
            <li>PGIMS Rohtak</li>
            <li>TDMC Alappuzha</li>
        </ul>
    </section>
</div>