<app-header></app-header>
<div class="body">
    <section class="mainBox">
        <h2>
            Bachelor of Legislative Law
        </h2>
        <p>
            LLB or Bachelor of Legislative Law, is an undergraduate degree programme in Law, of three-year or five-year duration that can be pursued after graduation and 10+2 respectively. Bachelor of Legislative Law is a foundational course in law that provides students the knowledge about legal procedures followed in the law profession. LLB course helps the students in developing a logical, analytical and critical understanding of legal affairs and teaches them how to use these skills for resolving social, legal issues of the society.
        </p>
        <table>
            <tr>
                <td>Course Name</td>
                <td>LLB or Bachelor of Legislative Law</td>
            </tr>
            <tr>
                <td>Level</td>
                <td>Undergraduate</td>
            </tr>
            <tr>
                <td>Course Duration</td>
                <td>3 years or 5 years (integrated course)</td>
            </tr>
            <tr>
                <td>Admission Process</td>
                <td>Entrance test followed by counselling by the authorities.</td>
            </tr>
            <tr>
                <td>Eligibility Criteria</td>
                <td>Bachelor's degree or 10+2</td>
            </tr>
            <tr>
                <td>Entrance Exams</td>
                <td>CLAT UG, LSAT</td>
            </tr>
            <tr>
                <td>Specialisations</td>
                <td>Constitutional Law, Labour Law, Family Law, Intellectual Property Law, Taxation Law, Criminal Law, Environmental Law, Human Rights, Insurance Laws</td>
            </tr>
            <tr>
                <td>Job Profiles</td>
                <td>Corporate Lawyer, Legal Advisor, Family Lawyer, Civil Lawyer, Criminal Lawyer</td>
            </tr>
        </table>
    </section>
    <section class="mainBox">
        <h2>LLB Eligibility Criteria</h2>
        <p>
            LLB eligibility criteria depend on various factors, such as college, course, type of the institution, marks of 1+2 or Bachelor’s level. It is important for candidates to know the LLB eligibility criteria before applying for the LLB course otherwise one's candidature can be nullified at any stage of the admission process. Before enrolling to the LLB course, students should know all the LLB course details, such as LLB admission process, LLB fees, and career options after LLB degree. Students who want to pursue law as a profession can pursue LLB after graduation.
        </p>
        <ul>
            <li>For admission in LLB programmes for three years students need to complete a bachelor’s degree programme in any discipline, such as BA, B.Com, B.Sc, BBA, BCA. Students need to complete 10+2 for admission in LLB programmes for five years.</li>
            <li>The minimum marks may vary, as some colleges require 50 per cent, while others require only 45 per cent. Further, in the case of public law colleges, there is a relaxation in minimum marks for reserved category candidates.</li>
            <li>There is no upper age limit for pursuing LLB (Bachelor of Legislative Law) courses.</li>
            <li>Candidates who are appearing in the final year/semester exam of their undergraduate degree programme, may also apply for the law degree, but they need to meet the other eligibility requirements postulated by the college to which the candidate is seeking admission.</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>
            LLB Application Process
        </h2>
        <p>Individual can take admission to a three year long LLB law degree after a bachelor’s degree. Students can also pursue a five year long LLB degree programme after completing 10+2. LLB admission process follows two ways, one is based on scores of entrance exams like PU LLB, DU LLB, and MH CET Law, and another is based on scores of qualifying exams. Individuals who want to pursue law as a career option can pursue LLB after graduation. Before applying for the LLB course, students should know all the LLB course details, such as LLB admission process, LLB fees, and career options after LLB degree.</p>
        <ul>
            <li>Candidates who want to take admission to five year LLB courses can appear in the entrance exams such as CLAT, AILET, SLAT, KLEE.</li>
            <li>The candidate can choose an entrance exam based on the college they want to get admission to; for example, for admission to Delhi University, one has to qualify the DU LLB entrance exam.</li>
            <li>Direct admission based on qualifying exam marks is also a common admission route, with KSLU admission being a good example.</li>
            <li>In this case, there is no entrance exam, and the candidate is only expected to fulfil LLB eligibility criteria like qualifying exam, minimum marks. The merit list, in this case, is prepared considering marks of the qualifying exam.</li>
            <li>National Law Universities (NLSs) do not offer the three year Bachelor of Legislative Law degree programme. They only have five year integrated programmes at the undergraduate level.</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>Top LLB Exams</h2>
        <p><span style="font-weight: bold;">CLAT: </span>CLAT refers to the Common-Law Admission Test is an entrance test in the area of law which is conducted by the National Law University at a national level in India. It is an offline examination and is widely accepted in most law institutions and colleges.</p>
        <p><span style="font-weight: bold;">LSAT: </span>LSAT refers to the India Law School Admission Test is a national level entrance examination conducted by the Law School Admission Council. 55 colleges across the nation recognise the LSAT India score.</p>
        <p><span style="font-weight: bold;">MH CET law: </span> MH CET law referred to as Maharashtra Common Entrance Test Law, is a state-level entrance test that is held to admit students to law schools in the state of Maharashtra. The MH CET law is carried out offline. Every year, about 19000 applicants apply for the MH CETLaw.</p>
        <p><span style="font-weight: bold;">AP LAWCET: </span> AP Law CET referred to Andhra Pradesh Law Common Entrance Test. is a state-level entrance test, conducted by Sri Krishnadevaraya University on behalf of APSCHE.</p>
     
    </section>
    <section class="mainBox">
        <h2>
            LLB Specialisations
        </h2>
        <p>LLB (Bachelor of Legislative Law) is a three year and five long undergraduate degree programme, can be pursued after completing a bachelor's degree or 10+2 respectively. The undergraduate degree usually covers core modules like Criminal Law, Tort Law, Contract Law, Constitutional/Administrative Law, Equity and Trusts, Land Law, and European Law. At the postgraduate level, the candidate can do specialization in a chosen subject, which may be:</p>
        <ul>
            <li>Constitutional Law</li>
            <li>Corporate Law and Governance</li>
            <li>Labour Law</li>
            <li>Criminal Law</li>
            <li>Family Law</li>
            <li>Environmental Law</li>
            <li>Intellectual Property Law</li>
            <li>Human Rights</li>
            <li>Taxation Law</li>
            <li>Insurance Laws</li>
        </ul>
    </section>
    <section class="mainBox">
        <h2>Best Law Colleges in India</h2>
        <ul>
            <li>National Law School of India University- Bangalore</li>
            <li>National Law University- New Delhi</li>
            <li>Symbiosis Law School- Pune</li>
            <li>Nalsar University of Law- Hyderabad</li>
            <li>The West Bengal National University of Juridical Sciences- Kolkata</li>
            <li>Indian Institute of Technology- Kharagpur</li>
            <li>Jamia Millia Islamia- New Delhi</li>
            <li>National Law University- Gujarat </li>
            <li>Siksha `O` Anusandhan- Bhubaneswar</li>
            <li>National Law University- Jodhpur</li>
        </ul>
    </section>
</div>